:root {
  --main-color: #424B54;
  --accent-color: #129490;
  --alternate-color: #EAC435;
}

body {
  background-color: var(--main-color);
  color: var(--alternate-color)
}
h1, h2, h3 {
  color: var(--accent-color);
}