@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logo {
  background-image: url('./images/sunflowerwindmill.jpg');
  height: 100vh;
  width: 580px;
}

.logo h1 {
  font-family: 'Audiowide', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.content {
  padding: 20px;
}

form {
  display: grid;
}